<div class="container p-4">
    <div class="row">
        <div class="col-md mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <div>
                        <a href="/about" class="btn btn-primary">About</a>
                        <a href="/skills" class="btn btn-primary">Soft Skills</a>
                        <a href="/technologies" class="btn btn-primary">Technologies</a>
                        <a href="/experience" class="btn btn-primary">Experience</a>
                        <a href="/contact" class="btn btn-primary">Contact</a>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>